.scrollable-content {
  max-height: 460px;
  min-height: 480px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
