<mat-card style="min-height: 500px">
    <mat-card-content>
        <div class="max-width">
            <div class="row mt-2">
                <ng-container>
                    <div class="col-md-12 d-flex">
                            <button class="gradient-button col-md-2 me-1" role="button" (click)="onOpenModelAddSchoolActivity()"> Add School Activities</button>
                            <button class="gradient-button col-md-2 me-1" role="button"> Add Categories</button>
                    </div>
                </ng-container>
            </div>

            <school-activities-table></school-activities-table>
        </div>
    </mat-card-content>
</mat-card>


<ng-template #addSchoolActivity let-modal let-close="close">
    <form (ngSubmit)="onAddSchoolActivity()">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="modal-title">Add Schoool Activity</h5>
                </div>
            </div>
        </div>

        <ng-container>
            <div class="modal-body">
                <div class="row float-start mb-5">
                    <div class="d-grid" style="max-width: 400px; margin: 0 auto; gap: 10px;">
                        <span style="font-size: 14px; font-weight: bold; color: #333;">School Activity Name</span>
                        <input placeholder="Input School Activity Name"
                               class="form-control p-3 fs-14 border-1 rounded"
                               style="padding: 3px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; width: 100%; outline: none; transition: border-color 0.3s;">
                    </div>
                </div>
            </div>
        </ng-container>

<!--        <div class="modal-footer">-->

<!--        </div>-->
    </form>
</ng-template>
