.max-width {
    max-width: 1400px;
}
.scrollable-card {
    min-height:400px;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

mat-card-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

.chart-container {
    margin-top: 30px;
}
