.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* or center, space-between */
  gap: 16px; /* Adjust spacing between charts */
  padding: 16px;
}

.chart-container app-extracurricular-category-chart,
.chart-container app-extracurricular-attendance-chart {
  flex: 1;
  min-width: 300px;
  min-height: 420px
}
@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
  .chart-container app-extracurricular-attendance-chart {
    flex: 1;
    min-width: 300px;
  }
}
