
<div class="d-flex col-md-12">
    <div class="col-md-7">
        <app-participant-graph></app-participant-graph>

    </div>
    <div class="col-md-5">
        <app-school-program-information></app-school-program-information>

    </div>
</div>
<div class="chart-container">
    <app-school-program-category-chart></app-school-program-category-chart>
    <app-school-program-attendance-chart></app-school-program-attendance-chart>
</div>


<div>
  <div class="row">
    <div class="col-lg-4">
      <app-school-program-activity></app-school-program-activity>
    </div>
    <div class="col-lg-8">
      <app-product></app-product>
    </div>
  </div>
</div>


<app-cards></app-cards>
