<mat-card>
  <mat-card-content style="min-height: 460px">
    <h4 class="mb-32">School Program Participant Chart</h4>

    <div class="max-width">
        <div class="form-group row">
            <div class="col-md-5">
                <app-select-academic-year-only (academicYearChanged)="onChangeAcademicYear($event)">
                </app-select-academic-year-only>
            </div>
            <div class="col-md-5">
                <app-select-school-level-relation-v2 (schoolLevelRelationChanged)="onChangeSchoolLevelRelation($event)"
                                                     [academic_year]="paramForm.get('academic_year')?.value"
                                                     [all]="false"
                                                     [isDisabled]="!paramForm.get('academic_year')?.value">
                </app-select-school-level-relation-v2>
            </div>
        </div>
        <div *ngIf="!hasData && !loading"  class="d-flex justify-content-center align-items-center mt-5 mb-5" style="height:30vh">
            <h3> No Data Available Yet</h3>
        </div>
        <div *ngIf="!hasData && loading" class="d-flex justify-content-center align-items-center mb-5" style="margin-top: 50px">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="hasData">
            <apx-chart [series]="exculParticipant.series" [dataLabels]="exculParticipant.dataLabels"
                       [chart]="exculParticipant.chart" [legend]="exculParticipant.legend"
                       [xaxis]="exculParticipant.xaxis" [grid]="exculParticipant.grid"
                       [stroke]="exculParticipant.stroke" [tooltip]="exculParticipant.tooltip"
                       [plotOptions]="exculParticipant.plotOptions">
            </apx-chart>
        </div>
    </div>
  </mat-card-content>
</mat-card>
