<mat-card style="min-height:400px">
    <mat-card-content>
        <h4 class="mb-32">Extracurricular Category Chart</h4>

        <div class="max-width">
            <div class="form-group row">
                <div class="col-md-6">
                    <app-select-academic-year-only (academicYearChanged)="onChangeAcademicYear($event)">
                    </app-select-academic-year-only>
                </div>
                <div class="col-md-6">
                    <app-select-school-level-relation-v2 (schoolLevelRelationChanged)="onChangeSchoolLevelRelation($event)"
                                                         [academic_year]="paramForm.get('academic_year')?.value"
                                                         [all]="false"
                                                         [task]="task"
                                                         [isDisabled]="!paramForm.get('academic_year')?.value">
                    </app-select-school-level-relation-v2>
                </div>
            </div>
        </div>
        <div *ngIf="!hasData && !loading"  class="d-flex justify-content-center align-items-center mt-5 mb-5" style="height:30vh">
            <h3> No Data Available Yet</h3>
        </div>
        <div *ngIf="!hasData && loading" class="d-flex justify-content-center align-items-center mb-5" style="margin-top: 50px">
            <mat-spinner></mat-spinner>
        </div>
        <div id="chart" *ngIf="hasData && !loading">
            <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"
            ></apx-chart>
        </div>
    </mat-card-content>
</mat-card>
