<div style="width: 100%; margin: 0 auto;">
  <div class="container">
    <div class="wrapper p-3">
      <article>
        <!--        <span class="title mb-2">Welcome</span>-->
        <div class="logo mb-3 d-flex flex-column justify-content-center align-items-center">
          <img alt="Sokrates Admin" class="d-inline-block"
               src="https://files.sokrates.co.id/pri/image/tenant/logo/9b00f263-7bae-4643-ac77-9bff22183e0d.png">
        </div>

        <div class="pt-2">
          <div *ngIf="loading" class="text-center">
            <i class="fa fa-spin fa-spinner fa-2x"></i>
          </div>
          <div *ngIf="!loading && errorMsg !== null" class="text-center">
            <div class="d-flex flex-column">
              <h4 class="text-danger font-weight-bold m-1">{{ errorMsg }}</h4>
              <a (click)="errorMsg = null;" class="text-primary small">Login here</a>
            </div>
          </div>
          <div *ngIf="!loading && errorMsg === null" class="text-center">
            <app-login></app-login>
          </div>
        </div>

        <div class=" logo pt-5 text-muted text-center border-top-0">
          <small>Powered by <b><a href="https://sokrates.id" target="_blank">Sokrates</a></b></small>
          <br>
          <small>
<!--            <a href="https://changelog.sokrates.co.id" target="_blank">v{{ currentApplicationVersion }}</a>-->
          </small>
        </div>
      </article>

    </div>
  </div>
</div>

