<div class="row">
    <div class="col-8">
    </div>
    <div class="col-4 text-end mb-5">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="filter($event)" class="form-control">
    </div>
</div>

<div class="row">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let data of dummyData; let i = index">
            <h2 class="accordion-header">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapse' + i"
                        [attr.aria-controls]="'flush-collapse' + i"
                        [attr.aria-expanded]="false">
                    {{ data.school_activity_name }}
                </button>
            </h2>
            <div
                    [id]="'flush-collapse' + i"
                    class="accordion-collapse collapse"
                    [attr.data-bs-parent]="'#accordionFlushExample'">
                <div class="accordion-body">
                    <ngx-datatable
                        [rows]="data.category_list"
                        [count]="data.category_list?.length"
                        [externalPaging]="true"
                        [externalSorting]="true"
                        [footerHeight]="50"
                        [headerHeight]="50"
                        [rowHeight]="40"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [selectAllRowsOnPage]="false"
                        class="ngx-datatable material expandable col-md-12"
                        columnMode="standard">
                        <ngx-datatable-column
                                [width]="300"
                                [canAutoResize]="true"
                                name="Category Name"
                                prop="category_name"
                                [sortable]="true">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input
                                        *ngIf="isEditing(row, 'category_name')"
                                        [(ngModel)]="row.category_name"
                                        (blur)="onEditComplete(row)"
                                        (keydown.enter)="onEditComplete(row)"
                                        class="form-control"
                                        type="text" style="width:75%" />
                                <span *ngIf="!isEditing(row, 'category_name')" (click)="startEdit(row, 'category_name')">
                                {{ row.category_name || '-' }}
                              </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                                [width]="650"
                                [canAutoResize]="true"
                                name="Description"
                                prop="description"
                                [sortable]="true">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input
                                        *ngIf="isEditing(row, 'description')"
                                        [(ngModel)]="row.description"
                                        (blur)="onEditComplete(row)"
                                        class="form-control"
                                        (keydown.enter)="onEditComplete(row)"
                                        type="text"  style="width:75%"/>
                                <span *ngIf="!isEditing(row, 'description')" (click)="startEdit(row, 'description')">
                                {{ row.description || '-' }}
                              </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                                [width]="60"
                                [canAutoResize]="true"
                                name="Status"
                                prop="status"
                                [sortable]="true">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span>
                                    {{ row.status || '-' }}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                                [width]="60"
                                [canAutoResize]="true"
                                name="Action">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button class="btn btn-danger btn-sm" style="background-color: #ed7c6f; border-color: #ed7c6f; color: white;">
                                    Delete
                                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

